.exercise-list-container {
    background-color: rgb(226, 216, 216);
}

.img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.break button:focus {
    color: black;
    background-color: #ffcd39;
}
.exercise-time{
    margin-left: 30px;
}
