.exercise-list-container{
    background-color: rgb(230, 224, 224);
}
.img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 20px;
}
.name{
    margin-left: 55px;
    margin-top: 20px;
}
.break button:focus{
    color: white;
    background-color: #ffcd39;

}