.exercise-list-container {
    background-color: rgb(230, 224, 224);
}

.img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.break button:focus {
    color: black;
    background-color: #ffcd39;

}

/* @media screen and (max-width: 576px) {
    .img {
        margin-left: 210px;
    }

    .name {
        text-align: center;
    }
    .address{
        margin-left: 210px;
    }
} */